@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-card: theme(colors.background.card);
    --background-light: theme(colors.background.light);
    --background-dark: theme(colors.background.dark);
}

::-webkit-scrollbar {
    width:8px;
    height:8px;
} 

::-webkit-scrollbar-track {
    background: var(--background-dark);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--background-card);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-light);
    border-radius: 5px;
}